.title{
    color: green;
text-align: left;}
button{
    background-color: rgb(1, 158, 1);
    color: white;
   
    width: 100px;
    border-radius: 2px;
}
.tableheading{
    color: white;
    background-color: rgb(12, 165, 12);

   

}
.delete{
  margin-left: 2%;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
th ,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    width: max-content;
    justify-content: left;
    text-align: left;
   
    
  }
  tr:nth-child(even) {
    background-color: #e9e9e9;
  }

th{
    height:40px
  }
td{
    height:30px
}
